<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
    <div layout:fragment="content">
        <div class="container my-3">
            <table class="table">
                <thead class="table-dark">
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성일시</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="question, loop : ${paging}">
                    <!-- 게시물 순번 구현; 전체 게시물 개수 - (페이지 당 개수 * 페이지(0번부터 시작) - 인덱스(0번부터 시작) -->
                    <td th:text="${paging.getTotalElements - (paging.size * paging.number) - loop.index}"></td>
                    <td>
                        <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
                        <span class="text-danger small ms-2" th:if="${#lists.size(question.answerList) > 0}" th:text="${#lists.size(question.answerList)}"></span>
                    </td>
                    <td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></td>
                </tr>
                </tbody>
            </table>
            <!-- 페이지 버튼 생성 start -->
            <!-- 이전 버튼 / 1, 2, 3, 4, ..., # / 다음 버튼 -->
            <!-- paging 변수 크기가 0이 아닐 때에만 나타나도록 th:if 코드 삽입 -->
            <div th:if="${!paging.isEmpty()}">
                <ul class="pagination justify-content-center">
                    <!-- 처음 버튼 -->
                    <li class="page-item" th:classappend="${paging.number == 0} ? 'disabled'">
                        <a class="page-link" th:href="@{?page=0}">
                            <span>처음</span>
                        </a>
                    </li>
                    <!-- 10개 이전 버튼 -->
                    <li class="page-item" th:classappend="${paging.number - 10 < 0} ? 'disabled'">
                        <a class="page-link" th:href="@{|?page=${paging.number-10}|}">
                            <span><<</span>
                        </a>
                    </li>
                    <!-- 이전 버튼 -->
                    <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                        <a class="page-link" th:href="@{|?page=${paging.number-1}|}">
                            <span><</span>
                        </a>
                    </li>
                    <!-- 1, 2, 3, 4, ..., # -->
                    <!-- page 기준 +- 2 -->
                    <li class="page-item" th:each="page : ${#numbers.sequence(0, paging.totalPages-1)}"
                        th:if="${page >= paging.number-2 and page <= paging.number+2 and paging.number > 1 and paging.number < paging.totalPages-2}"
                        th:classappend="${page == paging.number} ? 'active'">
                        <a class="page-link" th:href="@{|?page=${page}|}" th:text="${page+1}"></a>
                    </li>
                    <li class="page-item" th:each="page : ${#numbers.sequence(0, paging.totalPages-1)}"
                        th:if="${paging.number <= 1 and page <= 4}"
                        th:classappend="${page == paging.number} ? 'active'">
                        <a class="page-link" th:href="@{|?page=${page}|}" th:text="${page+1}"></a>
                    </li>
                    <li class="page-item" th:each="page : ${#numbers.sequence(0, paging.totalPages-1)}"
                        th:if="${paging.number >= paging.totalPages-2 and page >= paging.totalPages-5}"
                        th:classappend="${page == paging.number} ? 'active'">
                        <a class="page-link" th:href="@{|?page=${page}|}" th:text="${page+1}"></a>
                    </li>
                    <!-- 다음 버튼 -->
                    <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                        <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
                            <span>></span>
                        </a>
                    </li>
                    <!-- 10개 다음 버튼 -->
                    <li class="page-item" th:classappend="${paging.number + 10 > paging.totalPages-1} ? 'disabled'">
                        <a class="page-link" th:href="@{|?page=${paging.number+10}|}">
                            <span>>></span>
                        </a>
                    </li>
                    <!-- 끝 버튼 -->
                    <li class="page-item" th:classappend="${paging.number == paging.totalPages-1} ? 'disabled'">
                        <a class="page-link" th:href="@{|?page=${paging.totalPages-1}|}">
                            <span>끝</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- 페이지 버튼 생성 end -->
            <a th:href="@{/question/create}" class="btn btn-primary">질문 등록하기</a>
        </div>
    </div>
</html>